<div class="userNew">
	<p class="userNewHeader">Edit Profile</p>
	<%= form_for @user, html: { multipart: true } do |f| %>
		<div class="userNewForm">
			<%= render 'shared/error_messages', object: f.object %>
			<div class="field">
				<p>Name</p>
				<%= f.text_field :name, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Email</p>
				<%= f.text_field :email, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Department</p>
				<%= f.select :department_id, department_list %>
			</div>
			<div class="field">
				<p>Personal Time Accrued Image</p>
				<%= f.file_field :photo %>
			</div>
			<div class="field">
				<p>Password</p>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Password Confirmation</p>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>
			<div class="action">
				<%= f.submit "Save" %>
				<%= link_to "Cancel", current_user %>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
</div>