<%= render 'user_nav' %>
<%= render 'shared/search' %>
<div class="pageContent">
	<p class="pageHeader"><%= @title %>: <%= @search.size %> - <%= pluralize(@hours, 'Total Hour') %></p>
	<div class="index">
		<%= render partial: 'shared/user_event', collection: @events, as: :event %>
	</div>
	<%= will_paginate @events, separator: '' %>
</div>
<div class="overlay">
	<%= link_to image_tag('/assets/close.png'), '#', class: 'closeOverlay' %>
	<%= image_tag @user.photo.url, class: 'userPhoto' %>
</div>