<%= render 'user_nav' %>
<%= render 'event_search' %>
<div class="pageContent">
	<p class="pageHeader">
		<%= pluralize(@search.size, "#{params[:search]} Event") %>: <%= pluralize(@hours, 'Hour') %>
	</p>
	<div class="index">
		<% @events_by_date.each do |date, events| %>
			<div class="indexDate">
				<p class="indexDateHeader">
					<%= link_to "#{date[0]} #{date[2]}, #{date[3]}", root_path(date: "#{date[3]}-#{date[1]}-#{date[2]}") %>
				</p>
				<%= render partial: 'shared/user_event', collection: events, as: :event %>
			</div>
		<% end %>
	</div>
	<%= will_paginate @events, separator: '' %>
</div>