<%= content_for :head do %>
<script>
$(document).ready(function() {
	$('.viewAll').hide();
});
</script>
<% end %>
<%= render 'user_nav' %>
<div class="pageContent">
	<p class="userShowName"><%= @user.name %></p>
	<div class="userShowData">
		<div class="userShowDepartment">
			<p><%= @user.department.name %></p>
		</div>
		<div class="userShowRequests">
			<p><%= pluralize(@requests.size, 'Request') %>: <%= @approved.size %> Approved</p>
		</div>
		<div class="userShowEvents">
			<p><%= pluralize(@events.size, 'Event') %>: <%= pluralize(@hours, 'Hour') %></p>
		</div>
		<div class="userShowNextEvent">
			<p>
				Next Event: 
				<% if @next_event %>
					<%= @next_event.purpose.name %> - 
					<%= link_to(day_path(date: @next_event.event_date.strftime("%Y-%m-%d"))) do %>
						<%= @next_event.event_date.strftime("%B %d, %Y") %>
					<% end %>
				<% else %>
					None
				<% end %>
			</p>
		</div>
	</div>
</div>