<%= render 'user_nav' %>
<%= render 'shared/search' %>
<div class="pageContent">
	<div class="pageHeader">
		<p><%= @user.first_name %> <%= @user.department.name %>: <%= pluralize(@search.size, 'Request') %></p>
	</div>
	<div class="index">
		<%= render partial: 'user_request', collection: @requests, as: :request %>
	</div>
	<%= will_paginate @requests, separator: '' %>
</div>
<div class="overlay">
	<%= link_to image_tag('/assets/close.png'), '#', class: 'closeOverlay' %>
	<%= image_tag @user.photo.url, class: 'userPhoto' %>
</div>