<div class="userNav">
	<ul>
		<li><%= link_to 'New Department', new_department_path %></li>
		<li><%= link_to 'View All', url_for(params.merge({view_all: 1})) %></li>
	</ul>
</div>
<%= render 'shared/search' %>
<div class="pageContent">
	<div class="index">
		<p class="pageHeader"><%= @title %>: <%= @search.size %></p>
		<%= render @departments %>
	</div>
	<%= will_paginate @departments, separator: '' %>
</div>