<div class="userNav">
	<ul>
		<li><%= link_to 'New Event', new_event_path %></li>
		<li><%= link_to 'View All', url_for(params.merge({view_all: 1})) %></li>
	</ul>
</div>
<%= render 'event_search' %>
<div class="pageContent">
	<p class="pageHeader"><%= "#{params[:search]} " %>Events: <%= @search.size %></p>
	<div class="index">
		<% @events_by_date.each do |date, events| %>
			<div class="indexDate">
				<p class="indexDateHeader">
					<%= link_to date.strftime('%B %d, %y'), root_path(date: "#{date.strftime('%y-%m-%d')}") %>
				</p>
				<%= render partial: 'shared/user_event', collection: events, as: :event %>
			</div>
		<% end %>
	</div>
	<%= will_paginate @events, separator: '' %>
</div>