<div class="userNav">
	<ul>
		<li><%= link_to 'New Event', new_event_path %></li>
	</ul>
</div>
<%= render 'event_search' %>
<div class="pageContent">
	<p class="pageHeader"><%= @title %>: <%= @search.size %></p>
	<div class="index">
		<%= render partial: 'shared/user_event', collection: @events, as: :event %>
	</div>
	<%= will_paginate @events, separator: '' %>
</div>