<div class="userNew eventNew">
	<p class="userNewHeader"><%= @title %></p>
	<%= form_for @event do |f| %>
		<div class="userNewForm">
			<%= render 'shared/error_messages', object: f.object %>
			<div class="field">
				<p>Event Name</p>
				<%= text_field_tag :event_name, '', data: { autocomplete_source: purpose_list_path } %>
			</div>
			<div class="field eventNewDate">
				<p>Start Date</p>
				<%= text_field_tag :event_start, '', autocomplete: 'off' %>
			</div>
			<div class="field eventNewDate">
				<p>End Date</p>
				<%= text_field_tag :event_end, '', autocomplete: 'off' %>
			</div>
			<div class="field">
				<p>Total Hours</p>
				<%= text_field_tag :total_hours, '', autocomplete: 'off' %>
			</div>
			<div class="field">
				<p>User</p>
				<%= text_field_tag :user_name, '', data: { autocomplete_source: user_list_path } %>
			</div>
			<div class="action">
				<%= f.submit "Save" %>
				<%= link_to "Cancel", events_path %>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
</div>