<div class="request">
	<div class="requestLink">
		<%= link_to 'View Request', request %>
		<% if request.approved? %>
			<p class="green">Approved</p>
		<% elsif request.denied? %>
			<p class="red">Denied</p>
		<% end %>
	</div>
	<div class="requestUser">
		<%= link_to request.user.name, request.user %>
	</div>
	<div class="requestInfo">
		<div>
			<p class="requestLabel">Purpose:</p>
			<p class="requestData"><%= request.purpose.name %></p>
			<div class="clear"></div>
		</div>
		<div>
			<p class="requestLabel">Start Date:</p>
			<p class="requestData">
				<%= link_to request.request_start.strftime('%b %d, %y'), root_path(date: request.request_start.strftime('%y-%m-%d')) %>
			</p>
			<div class="clear"></div>
		</div>
		<div>
			<p class="requestLabel">End Date:</p>
			<p class="requestData">
				<%= link_to request.request_end.strftime('%b %d, %y'), root_path(date: request.request_end.strftime('%y-%m-%d')) %>
			</p>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>