<div class="requestNew">
	<div class="requestNewHead">
		<%= image_tag '/assets/logo.png' %>
		<div>
			<p class="requestNewHeader">Time Off Request Form</p>
			<p class="requestNewDate"><%= Date.today.strftime('%B %d, %Y') %></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="requestForm">
		<%= form_for @request do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="requestCheckbox">
				<div class="scheduled">
					<p>Scheduled?</p>
					<% if params[:request].nil? || params[:request][:scheduled] == 1 %>
						<%= f.check_box :scheduled, checked: 'checked' %>
					<% else %>
						<%= f.check_box :scheduled %>
					<% end %>
				</div>
				<div class="notScheduled">
					<p>Called In?</p>
					<%= f.check_box :called_in %>
				</div>
				<div class="notScheduled">
					<p>Absence Paid?</p>
					<%= f.check_box :absence_paid %>
				</div>
			</div>
			<div class="requestFormFields">
				<div class="field">
					<p>Name</p>
					<%= text_field_tag :name, "#{current_user.name}", readonly: 'readonly' %>
				</div>
				<div class="field requestFormDateRequested">
					<p>Date(s) Requested</p>
					<%= f.text_field :request_start, autocomplete: 'off' %>
					to
					<%= f.text_field :request_end, autocomplete: 'off' %>
				</div>
				<div class="totalTime">
					<div class="field">
						<p>Total Days</p>
						<%= f.text_field :total_days, autocomplete: 'off', placeholder: '5' %>
					</div>
					<div class="field">
						<p>Total Hours*</p>
						<%= f.text_field :total_hours, autocomplete: 'off', placeholder: '40' %>
						<div class="hoursError hoursErrorNone">
							Please enter a number.
						</div>
						<div class="hoursError hoursError4">
							Minimum of 4 hours required.
						</div>
						<div class="hoursError hoursError8">
							Minimum of 8 hours required.
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="field">
				<p>
					*If the purpose of your request is personal, you must use a minimum of 8 hours<br />
					*If the purpose of your request is sick or vacation, you must use a minimum of 4 hours
				</p>
			</div>
			<div class="field">
				<p>Purpose</p>
				<%= f.select :purpose_id, options_for_select(@purposes) %>
			</div>
			<div class="field">
				<p>Comments</p>
				<%= f.text_area :comments %>
			</div>
			<div class="field">
				<p><b>Note</b></p>
				<p><%= request_note %></p>
			</div>
			<div class="field">
				<p><b>Disclaimer</b></p>
				<p><%= request_disclaimer %></p>
			</div>
			<div class="action">
				<%= f.submit 'Submit', class: "requestFormSubmit" %>
				<%= link_to 'Cancel', current_user %>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
</div>
<script>
$(document).ready(function() {
	if ($('#request_scheduled').is(':checked')) {
		$('.notScheduled').hide();
	}
	$('#request_scheduled').live('click', function() {
		$('.notScheduled').toggle();
	})
});
</script>