<%= content_for :head do %>
<script>
$(document).ready(function() {
	if ($('#scheduled').is(':checked')) {
		$('.notScheduled').hide();
	}
});
</script>
<% end %>
<% if current_user.admin? && !@conflicts.empty? || current_user.admin? && @decisions %>
	<div class="conflictsDecisions">
		<% if !@conflicts.empty? %>
			<div class="requestConflicts">
				<p>Schedule Conflicts</p>
				<% @conflicts.each do |date, events| %>
					<div class="conflictDate">
						<div class="conflictDateDay">
							<p><%= link_to date.strftime('%b %d, %y'), root_path(date: "#{date.strftime('%y-%m-%d')}") %></p>
						</div>
						<ol>
							<% for event in events %>
								<li>
									<p>
										<%= link_to event.user.name, event.user %>
										<% if event.user.department == @request.user.department %>
											<span class="red"><%= event.user.department.name %></span>
										<% else %>
											<%= event.user.department.name %>
										<% end %>
									</p>
								</li>
							<% end %>
						</ol>
					</div>
				<% end %>
			</div>
		<% end %>
		<% if !@decisions.empty? %>
			<div class="requestDecisions">
				<p>Approval Decisions</p>
				<% @decisions.each do |date, decisions| %>
					<div class="decisionDate">
						<div class="decisionDateDay">
							<p><%= "#{date[0]} #{date[2]}, #{date[3]}" %></p>
						</div>
						<ol>
							<% for decision in decisions.sort_by { |d| d.created_at }.reverse %>
								<li>
									<p><%= decision.name %> by <%= decision.user.name.split(' ')[0] %> at <%= decision.created_at.strftime("%l:%M %P") %></p>
								</li>
							<% end %>
						</ol>
					</div>
				<% end %>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
<% end %>
<% if @request.approved? || @request.denied? %>
	<div class="approvedDenied">
		<% if @request.approved? %>
			<p class="green">Approved by <%= @request.user_approved.name.split(' ')[0] %> on <%= @request.events.first.created_at.strftime('%b %d, %y') %></p>
		<% elsif @request.denied? %>
			<p class="red">Denied by <%= @request.user_denied.name.split(' ')[0] %></p>
		<% end %>
	</div>
<% end %>
<div class="requestNew requestShow">
	<div class="requestNewHead">
		<%= image_tag '/assets/logo.png' %>
		<div>
			<p class="requestNewHeader">Time Off Request Form</p>
			<p class="requestNewDate"><%= @request.created_at.strftime('%B %d, %Y') %></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="requestForm">
		<div class="requestCheckbox">
			<div class="scheduled">
				<p>Scheduled?</p>
				<%= check_box_tag :scheduled, '1', @request.scheduled?, readonly: 'readonly' %>
			</div>
			<div class="notScheduled">
				<p>Called In?</p>
				<%= check_box_tag :called_in, '1', @request.called_in?, readonly: 'readonly' %>
			</div>
			<div class="notScheduled">
				<p>Absence Paid?</p>
				<%= check_box_tag :absence_paid, '1', @request.absence_paid?, readonly: 'readonly' %>
			</div>
		</div>
		<div class="requestFormFields">
			<div class="field">
				<p>Name</p>
				<%= link_to @request.user do %>
					<%= text_field_tag :name, "#{@request.user.name}", readonly: 'readonly', title: "Department: #{@request.user.department.name}" %>
				<% end %>
			</div>
			<div class="field requestFormDateRequested">
				<p>Date(s) Requested<span> - <%= link_to 'View Accrued Time', '#', class: 'viewTime' %></span></p>
				<div>
					<%= text_field_tag :request_start, "#{@request.request_start.strftime('%B %d, %Y')}", readonly: 'readonly' %>
					<div class="requestStartCal" id="requestCal">
						<%= calendar_short @start do |date| %>
							<% if @days.include?(date) %>
							<div class="dateDay requestDay">
							<% else %>
							<div class="dateDay">
							<% end %>
								<% if date.month == @start.month %>
									<% if @dept_conflicts.include?(date) %>
										<%= link_to date.day, day_path(date: date), class: 'deptConflict', title: 'Department Conflict' %>
									<% elsif @day_conflicts.include?(date) %>
										<%= link_to date.day, day_path(date: date), class: 'conflictDay', title: 'Conflict' %>
									<% else %>
										<%= link_to date.day, day_path(date: date) %>
									<% end %>
								<% end %>
							</div>
						<% end %>
					</div>
					to
					<%= text_field_tag :request_end, "#{@request.request_end.strftime('%B %d, %Y')}", readonly: 'readonly' %>
					<div class="requestEndCal" id="requestCal">
						<%= calendar_short @end do |date| %>
							<% if @days.include?(date) %>
							<div class="dateDay requestDay">
							<% else %>
							<div class="dateDay">
							<% end %>
								<% if date.month == @start.month %>
									<% if @dept_conflicts.include?(date) %>
										<%= link_to date.day, day_path(date: date), class: 'deptConflict', title: 'Department Conflict' %>
									<% elsif @day_conflicts.include?(date) %>
										<%= link_to date.day, day_path(date: date), class: 'conflictDay', title: 'Conflict' %>
									<% else %>
										<%= link_to date.day, day_path(date: date) %>
									<% end %>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="totalTime">
				<div class="field">
					<p>Total Days</p>
					<%= text_field_tag :total_days, "#{@request.total_days}", readonly: 'readonly' %>
				</div>
				<div class="field">
					<p>Total # Hours</p>
					<%= text_field_tag :total_hours, "#{@request.total_hours}", readonly: 'readonly' %>
				</div>
				<div class="clear"></div>
			</div>
			<div class="field">
				<p>Purpose</p>
				<%= text_field_tag :purpose, "#{@request.purpose}", readonly: 'readonly', class: 'requestFormPurpose' %>
			</div>
		</div>
		<div class="clear"></div>
		<div class="field">
			<p>Comments</p>
			<div class="requestFormComments">
				<%= to_html(@request.comments) %>
			</div>
		</div>
		<% if current_user.admin? %>
			<div class="requestForm">
				<%= form_for @request do |f| %>
					<div class="field">
						<p>Remarks</p>
						<%= f.text_area :remarks %>
					</div>
					<div class="requestDecide">
						<div class="denyRequest">
							<%= f.submit 'Deny' %>
						</div>
						<div class="approveRequest">
							<%= link_to "Approve", approve_request_path(@request) %>
						</div>
					</div>
				<% end %>
			</div>
		<% else %>
			<div class="field">
				<p>Remarks</p>
				<div class="requestFormComments">
					<%= to_html(@request.remarks) %>
				</div>
			</div>
		<% end %>
		<% if @request.manual %>
			<div class="requestManual">
				<p>Manually created by <%= @request.user_manual.name.split(' ')[0] %> on <%= @request.created_at.strftime('%b %d, %y') %></p>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
</div>
<div class="overlay">
	<%= link_to image_tag('/assets/close.png'), '#', class: 'closeOverlay' %>
	<%= image_tag @request.user.photo.url, class: 'userPhoto' %>
</div>