<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= stylesheet_link_tag    "application" %>
		<%= stylesheet_link_tag    "print/application", media: :print %>
		<script type="text/javascript" src="/assets/jquery/jquery-1.8.3.js"></script>
		<%= javascript_include_tag "app/application" %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'favicon.png' %>
		<meta charset="UTF-8">
		<%= yield :head %>
		<% if Rails.env.production? %>
			<script type="text/javascript">
			  // Google Analytics
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-37837281-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
		<% end %>
	</head>
	<body>
		<div class="header">
			<%= render 'layouts/header' %>
		</div>
		<div class="wrapper">
			<div class="content">
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>">
						<%= link_to image_tag('/assets/close.png'), '#', class: 'closeFlash', title: "Close" %>
						<p><%= value %></p>
					</div>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<div class="footer"></div>
	</body>
</html>